
header{
    background-color: grey;
    
}
@media screen and (max-width:900px){
    *{
        margin: 0;
        padding: 0;
    }
    hgroup{
        color: red;
        padding-left: 20px;
        padding-top: 20px;
        margin-bottom: 50px;
    } 
    figure{
        padding-bottom: 20px;
    }
    #about h3{
        font-size: larger;
        border-bottom: 1px solid gray;
    
    }
    #about p{
        font-size: smaller;
    }
    h3::before{
        content: '.';
        color: red;
        font-size: 150px;
        padding-right: 10px;
    }
    .experience-institution::before{
        content: '@ ';
        color: red;
    
    }
    #competencies h3{
        line-height: 1;
        border-bottom: 1px solid gray;

    }
    .skills-primary::before{
        content: 'Main';
        color: black;
        margin: 0;
        font-size: 20px;
    }
    .skills-secondary::before{
        content: 'Other';
        color: black;
        margin: 0;
        font-size: 20px;
    }
    
    .skill{
        background-color: rgb(209, 197, 197);
        padding: 10px;
        margin-bottom: 4px;
        margin-right:30px;
        width: 98%;
        color: white;
        line-height: 2;
        
    }
    .skills-primary{
        padding-bottom: 30px;
    }
    .skills-secondary span{
        opacity: 0.5;
    }
    .skills-primary>.skill[data-skill="5"] span{
        background-color: red;
        width: 50%;
        display: inline-block;
    }
    .skills-primary>.skill[data-skill="3"] span{
        background-color: red;
        width: 30%;
        display: inline-block;
    }
    .skills-primary>.skill[data-skill="1"] span{
        background-color: red;
        width: 10%;
        display: inline-block;
    }
    .skills-secondary>.skill[data-skill="5"] span{
        background-color: red;
        width: 50%;
        display: inline-block;
    }
    .skills-secondary>.skill[data-skill="9"] span{
        background-color: red;
        width: 90%;
        display: inline-block;
    }  
    .skills-secondary>.skill[data-skill="5"] span{
        background-color: red;
        width: 50%;
        display: inline-block;
    }  
    .skills-secondary>.skill[data-skill="7"] span{
        background-color: red;
        width: 70%;
        display: inline-block;
    }   
    .experience h4{
        color: red;
        margin-top: 10px;
    }
   
    .experience-details{
        color: gray;
        padding-left:15px;
        
    }
    .experience-details{
        margin-bottom: 10px;
    }
    .experience-institution::before{
        content: '@ ';
        color: red;
    
    }
    #experiences h3{
        line-height: 1;
        font-size: larger;
        border-bottom: 1px solid gray;
    }
    #education h3{
        line-height: 1;
        border-bottom: 1px solid gray;
    }
    #hobbies h3{
        line-height: 1;
        border-bottom: 1px solid gray;
    }
    #hobbies ul{
        padding: 10px;
    }
    #hobbies li{
        padding-left: 50px;
    }
    #hobbies li::before{
        content: '.';
        color: black;
        font-size: 50px;
        text-align: center;
    }
    #contact h3{
        line-height: 1;
        border-bottom: 1px solid gray;

    }
    .contact{
        display: grid;
        grid-template-columns:1fr 3fr;
        margin-bottom: 0;
        margin-top: 0;
    
    }
    .contact-type{
        background-color: red;
        margin-left: 20px;
        color: white;
        font-size: larger;
        width: 150px;
        padding-left: 30px;
    }
    .contact-value{ 
        width: auto;
        margin-left: 0;
        font-size: larger
    }
    .contact-value a{
        
        margin: 0;
    
        color: red;
        text-decoration: none;
    }
}


@media screen and (min-width:900px){

hgroup{
display: inline-block;
color: red;  
margin-left: 300px;
}
figure{
    display: inline-block;
}
header div {
    display: flex   ;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding-left: 300px;
}
.contacts{
    position:absolute;
    top: 20px; 
}
.contact{
    display: grid;
    grid-template-columns:1fr 3fr;
    margin-bottom: 0;
    margin-top: 0;

}
.contact-type{
    background-color: red;
    margin-left: 20px;
    color: white;
    font-size: larger;
    width: 150px;
    padding-left: 30px;
}
.contact-value{ 
    width: auto;
    margin-left: 0;
    background-color: black;
    padding-left: 5px;
    font-size: larger
}
.contact-value a{
    background-color: black;
    margin: 0;

    color: red;
    text-decoration: none;
}
#about{
    padding-top: 30px;
    font-size: larger;

}
h3{
    border-bottom: solid gray;

}
#competencies{
    padding-top: 30px;
    font-size: larger;
}
.skills-primary::before{
    content: 'Main';
    color: black;
    margin: 0;
    font-size: 20px;
}
.skills-secondary::before{
    content: 'Other';
    color: black;
    margin: 0;
    font-size: 20px;
}

.skill{
    background-color: rgb(209, 197, 197);
    padding: 10px;
    margin-bottom: 4px;
    margin-right:30px;
    width: 98%;
    color: white;
    line-height: 2;
    
}
.skills-primary{
    padding-bottom: 30px;
}
.skills-secondary span{
    opacity: 0.5;
}
.skills-primary>.skill[data-skill="5"] span{
    background-color: red;
    width: 50%;
    display: inline-block;
}
.skills-primary>.skill[data-skill="3"] span{
    background-color: red;
    width: 30%;
    display: inline-block;
}
.skills-primary>.skill[data-skill="1"] span{
    background-color: red;
    width: 10%;
    display: inline-block;
}
.skills-secondary>.skill[data-skill="5"] span{
    background-color: red;
    width: 50%;
    display: inline-block;
}
.skills-secondary>.skill[data-skill="9"] span{
    background-color: red;
    width: 90%;
    display: inline-block;
}  
.skills-secondary>.skill[data-skill="5"] span{
    background-color: red;
    width: 50%;
    display: inline-block;
}  
.skills-secondary>.skill[data-skill="7"] span{
    background-color: red;
    width: 70%;
    display: inline-block;
}   

#experiences,#education,#hobbies{
    text-align:start; 
    font-size: larger;
}   

.experience h4{
    color: red;
}
.experience-details{
    color: gray;
    padding-left:15px;
    line-height: 1px;
    
}
h3::before{
    content: '.';
    color: red;
    font-size: 150px;
    padding-right: 10px;
}
.experience-institution::before{
    content: '@ ';
    color: red;

}

#contact h3{
    display: none;
}
.experience-date-separator{
    color: red;
}




}